extends layoutplayer1

block content
  .row
    .col-sm-12
      h4= title
      br 

      #hiddenPlayer


      br  
      h3= desc
      br
      
  .row
    #time-range.col-sm-12.hide

      code.changes 
        i.material-icons schedule
        | Time Range:&nbsp;
        span.slider-time1
        | &nbsp;  
        span.divider - 
        | &nbsp;
        span.slider-time2
      br

      code.changes 
        i.material-icons history
        | Video Duration:&nbsp;          
        span.total#duration 
      br

      code.changes 
        i.material-icons slow_motion_video
        | Crop size:&nbsp;
        span#crop-size   
      br
      br


      h3 Change Start & End points:
      .sliders_step1(data-start=start, data-end=end, data-min="0", data-step=step, data-edit="true")    
        #slider-range

        
      include partials/update-video-form